# How to sound like a data scientist

## The data science Venn diagram

### Parsing a single tweet

In [1]:
tweet = "RT @j_o_n_dnger: $TWTR now top holding for Andor, unseating $AAPL"

In [2]:
words_in_tweet = tweet.split(" ") # list words in tweet spliting by space

In [4]:
for word in words_in_tweet:             # CM:: for each word in list
    if "$" in word:                     # CM:: if word has a "cashtag"
        print("THIS TWEET IS ABOUT", word)  # CM::print the match

('THIS TWEET IS ABOUT', '$TWTR')
('THIS TWEET IS ABOUT', '$AAPL')

In [5]:
words_in_tweet

['RT',
 '@j_o_n_dnger:',
 '$TWTR',
 'now',
 'top',
 'holding',
 'for',
 'Andor,',
 'unseating',
 '$AAPL']

## Data science case studies

### Case study - marketing dollars

In [6]:
import pandas as pd

In [7]:
data = {
    'TV': [230.1, 44.5, 17.2, 151.5, 180.8],
    'Radio': [37.8, 39.3, 45.9, 41.3, 10.8],
    'Newspaper': [69.2, 45.1, 69.3, 58.5, 58.4],
    'Sales': [22.1, 10.4, 9.3, 18.5, 12.9]
}

In [8]:
df = pd.DataFrame(data)

In [9]:
print(df)

   Newspaper  Radio  Sales     TV
0       69.2   37.8   22.1  230.1
1       45.1   39.3   10.4   44.5
2       69.3   45.9    9.3   17.2
3       58.5   41.3   18.5  151.5
4       58.4   10.8   12.9  180.8